# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage
/playwright-report/
/test-results/

# production
/build

# local environment variables
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# generated prisma client
/generated/prisma

# misc
.DS_Store
*.pem
npm-debug.log*
